name: Terraform
on: pull_request

jobs:
  terraform:
    name: Terraform format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "~> 1.7.3"
          terraform_wrapper: false

      - name: Check Terraform files
        run: terraform fmt -check
