name: Terraform
on: pull_request

jobs:
  terraform:
    name: Terraform format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@5e8dbf3c6d9deaf4193ca7a8fb23f2ac83bb6c85 # v4.0.0
        with:
          terraform_version: "~> 1.7.3"
          terraform_wrapper: false

      - name: Check Terraform files
        run: terraform fmt -check
