name: Terraform
on: pull_request

jobs:
  terraform:
    name: Terraform format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: "~> 1.7.3"
          terraform_wrapper: false

      - name: Check Terraform files
        run: terraform fmt -check
